.git
.gitignore

.venv
venv
env
__pycache__
*.pyc
*.pyo
*.pyd

.env
.env.*
!.env.example
!.env.docker.example

.idea
.vscode

*.log
logs

exports
uploads
tmp
temp
reports

*.sqlite
*.db
*.dump
*.backup
*.sql

*.pdf
*.docx
*.xlsx
*.pptx